<footer>
    <a href="/patient_main">
        {{#if (isEq page 'patient_main')}}
            <img src="res/nav_home_curr.svg" class="icons">
            {{else}} <img src="res/nav_home.svg" class="icons">
        {{/if}}
    </a>
    <a href="/patient_edit_data">
        {{#if (isEq page 'patient_edit_data')}}
            <img src="res/nav_edit_curr.svg" class="icons">
            {{else}} <img src="res/nav_edit.svg" class="icons">
        {{/if}}
    </a>
    <a href="/patient_leaderboard">
        {{#if (isEq page 'patient_leaderboard')}}
            <img src="res/nav_leaderboard_curr.svg" class="icons">
            {{else}} <img src="res/nav_leaderboard.svg" class="icons">
        {{/if}}
    </a>
    <a href="/patient_messages">
        {{#if (isEq page 'patient_messages')}}
            <img src="res/nav_message_curr.svg" class="icons">
            {{else}} <img src="res/nav_message.svg" class="icons">
        {{/if}}
    </a>
</footer>