  <!--drop down button-->
    <button class="white_button item_center" id="chart_button"> 
        <select id="healthDataChart">
          <option value="">-- select --</option>
            <option value="1" data-value="1,2,3,4,5,6,7" data-date="0,0,0,0,0,0,0">Blood Glucose Level</option>
            <option value="2" data-value="2,4,6,8,10,12,14" data-date="1/1,2/1,3/1,4/1,5/1,6/1,7/1">weight</option>
            <option value="3" data-value="2,4,6,8,10,12,14" data-date="2,2,2,2,2,2,2">Does taken</option>
            <option value="4" data-value="2,4,6,8,10,12,14" data-date="3,3,3,3,3,3,3">Exercise</option>
        </select>
    </button>

    <div class="single_chart_container">
        <canvas id="myChart"></canvas>
    </div>

    

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script>
      var dataValue;
      var dataDate;
      $(document).ready(

        function myfunction() {
        $("#healthDataChart").change(function () {
        var cntrol = $(this);
        dataValue = cntrol.find(":selected").data("value");
        dataDate = cntrol.find(":selected").data("date");
        });

    const myChart = new Chart(
      document.getElementById('myChart'),
      {
        display: false,
        type: 'line',
        data: {
        labels: null,
        datasets: [{
        backgroundColor: '#f28379',
        borderColor: '#f28379',
         data: null,
        }]
        },
        options: 
          {
            scales: {
            yAxes: {
                title: {
                    display: true,
                    text: '',
                }
            },
            xAxes: {
                title: {
                    display: true,
                    text: "Date",
                }}},
            plugins: {legend: {display: false}}
        }});
      
    
        const healthDataChart = document.getElementById('healthDataChart');
        healthDataChart.addEventListener('change', switchChart);
        function switchChart(){
          //blood glucose level
          if ("1".localeCompare(healthDataChart.value)==0){
            myChart.data.datasets[0].data = dataValue.split(',');
            myChart.data.labels = dataDate.split(',');
            myChart.config.options.scales.yAxes.title.text = 'Blood Glucose Level(nmol/L)';
            myChart.config.type = 'line';
            myChart.update();
          //weight
          }else if ("2".localeCompare(healthDataChart.value)==0){
            myChart.data.datasets[0].data = dataValue.split(',');
            myChart.data.labels = dataDate.split(',');
            myChart.config.type = 'line';
            myChart.config.options.scales.yAxes.title.text = 'Weight(kg)';
            myChart.update();
          //does taken
          }else if ("3".localeCompare(healthDataChart.value)==0){
            myChart.data.datasets[0].data = dataValue.split(',');
            myChart.data.labels = dataDate.split(',');
            myChart.config.type = 'scatter';
            myChart.config.options.scales.yAxes.title.text = 'No. of does taken';
            myChart.update();
          //exercise
          }else if ("4".localeCompare(healthDataChart.value)==0){
            myChart.data.datasets[0].data = dataValue.split(',');
            myChart.data.labels = dataDate.split(',');
            myChart.config.type = 'line';
            myChart.config.options.scales.yAxes.title.text = 'Exercise(steps)';
            myChart.update();
          }
            // myChart.data.datasets[0].data = healthDataChart.value.split(',');
            //myChart.update();
        }
        });
    </script>
        
   