{{!-- <div id="curve_chart"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'line']});

    //draw chart
    google.charts.setOnLoadCallback(drawbloogGlucoseLevel);
    function drawbloogGlucoseLevel() {
    var data = google.visualization.arrayToDataTable([
          ['Days', 'Blood Glucose Level'],
          ['Monday',  125],
          ['Tuesday',  135],
          ['Wednesday',  118],
          ['Thursday',  120],
          ['Friday',  118],
          ['Saturday',  120],
          ['Sunday',  115]
        ]);

      var options = {
        curveType: 'function',
        hAxis: {
          title: 'Days',
          slantedText: true
        },
        vAxis: {
          title: 'nmol/L',
          minValue: 100
        },
        backgroundColor: 'transparent',
        legend: { position: 'bottom' }
      };

      var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
      chart.draw(data, options);
    }

    window.onresize = drawbloogGlucoseLevel;
    </script> --}}

    
    <!--drop down button-->
    <button class="white_button item_center" id="chart_button"> 
        <select id="healthDataChart">
            <option value="1">Blood Glucose Level</option>
            <option value="2">weight</option>
            <option value="3">Does taken</option>
            <option value="4">Exercise</option>
        </select>
    </button>

    <div class="single_chart_container">
        <canvas id="myChart"></canvas>
    </div>

    

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
    //Chart.defaults.global.legend.display = false;
    const labels = ["03/02", "04/02", "05/02", "06/02", "07/02", "08/02", "09/02"]; //import the blood glucode level as default display value

    const data = {
    labels: labels,
    datasets: [{
        backgroundColor: '#f28379',
        borderColor: '#f28379',
         data: [120, 125, null, 118, 113, 110, 112], //import the blood glucode level as default display value
        }]
    };

    const config = {
        type: 'bar',
        data: data,
        options: {plugins: {legend: {display: false}}}
    };
    </script>

    <script>
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
    </script>

    <script>
        const healthDataChart = document.getElementById('healthDataChart');
        healthDataChart.addEventListener('change', switchChart);
        function switchChart(){
          //blood glucose level
          if ("1".localeCompare(healthDataChart.value)==0){
            myChart.data.datasets[0].data = [120, 125, null, 118, 113, 110, 112];
            myChart.data.labels = ["03/02", "04/02", "05/02", "06/02", "07/02", "08/02", "09/02"];
            myChart.config.type = 'bar';
            myChart.update();
          //weight
          }else if ("2".localeCompare(healthDataChart.value)==0){
            myChart.data.datasets[0].data = [55, 55, 55.4, 56, 55.2, 55.8, 55.7];
            myChart.config.type = 'line';
            myChart.update();
          //does taken
          }else if ("3".localeCompare(healthDataChart.value)==0){
            myChart.data.datasets[0].data = [1, 0, 0, 1, 0, 0, 0];
            myChart.config.type = 'scatter';
            //myChart.data.labels = [0, 10, 5, 2, 20, 30, 45];
            myChart.update();
          //exercise
          }else if ("4".localeCompare(healthDataChart.value)==0){
            myChart.data.datasets[0].data = [2000, 400, 1300, 5400, 700, 10000, 200];
            myChart.config.type = 'line';
            //myChart.data.labels = [0, 10, 5, 2, 20, 30, 45];
            myChart.update();
          }
            // myChart.data.datasets[0].data = healthDataChart.value.split(',');
            //myChart.update();
        }
    </script>
        
   