{{!-- <div id="curve_chart"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'line']});

    //draw chart
    google.charts.setOnLoadCallback(drawbloogGlucoseLevel);
    function drawbloogGlucoseLevel() {
    var data = google.visualization.arrayToDataTable([
          ['Days', 'Blood Glucose Level'],
          ['Monday',  125],
          ['Tuesday',  135],
          ['Wednesday',  118],
          ['Thursday',  120],
          ['Friday',  118],
          ['Saturday',  120],
          ['Sunday',  115]
        ]);

      var options = {
        curveType: 'function',
        hAxis: {
          title: 'Days',
          slantedText: true
        },
        vAxis: {
          title: 'nmol/L',
          minValue: 100
        },
        backgroundColor: 'transparent',
        legend: { position: 'bottom' }
      };

      var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
      chart.draw(data, options);
    }

    window.onresize = drawbloogGlucoseLevel;
    </script> --}}

    
    <!--drop down button-->
    <button class="white_button item_center"> 
        <select id="healthDataChart">
            <option value="">Select history data</option>
            <option value="1,2,3,4,5,6,7">Blood Glucose Level</option>
            <option value="1,2,3,4,5,6,7">weight</option>
            <option value="">Does taken</option>
            <option value="">Exercise</option>
        </select>
    </button>

    <div>
        <canvas id="myChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
    //Chart.defaults.global.legend.display = false;
    const labels = [
        'January',
        'February',
        'March',
        'April',
        'May',
        'June',
    ];

    const data = {
    labels: labels,
    datasets: [{
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
         //data: [0, 10, 5, 2, 20, 30, 45],
        }]
    };

    const config = {
        type: 'line',
        data: data,
        options: {plugins: {legend: {display: false}}}
    };
    </script>

    <script>
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
    </script>

    <script>
        const healthDataChart = document.getElementById('healthDataChart');
        healthDataChart.addEventListener('change', switchChart);
        function switchChart(){
            //const dateAndValue = healthDataChart.value.split(',');
            myChart.data.datasets[0].data = [2,4,6,8,9,2,4];
            myChart.update();
        }
    </script>
        
   