<body class="about">
    <header>
      <nav>
        <a class="icons"><img src="../public/res/hambuger-menu.png" /></a>
      </nav>
    </header>

    <main class="content about_grid_format">
      <h1 id="heading">About this website</h1>
      <article id="desc">
        <hr />
        <p class="bigger_p">
          Manage your diabetes in the comfort of your home!<br /><br />
          All of the data you record will be monitored by your clinician
        </p>
        <hr />
      </article>

      <div id="sec1">
        <h2 class="subheading">Use this Website</h2>
        <article class="container">
          <p>
            A majority of the features used in this website require you to be
            logged in.<br /><br />
            If you wish to access these features and do not already have an
            account please contact your clinician so they can register you.
          </p>
        </article>
      </div>

      <div id="sec2">
        <h2 class="subheading">Our Team</h2>
        <article class="container">
          <p>
            This website was built as a part of INFO30005 Semester 1 Project.<br /><br />
            The authors are Caitlyn Allan, Ed Peng, Meilun Yao, Hanlin Zhu and
            Brandon Widjaja.<br /><br />
            Caitlyn, Ed, Hanlin and Brandon all major in Computing and Software
            Systems within the Bachelor of Science, while Meilun is studying a
            Bachelor of Design with a Digital Technologies Design Major. All are
            curent students of the University of Melbourne.
          </p>
        </article>
      </div>

      <div id="sec3" class="center white">
        <button class="bottom_button">Log in</button>
      </div>
    </main>
  </body>