<h3>Registrations</h3>
<ul>
    ----------------------------------
    {{#each users}}
        <li>
            <ul>P: <em>{{this.namePatient}}</em></ul>
            <ul>C: <em>{{this.nameClinician}}</em></ul>
            ----------------------------------
        </li>
    {{/each}}
</ul>

<h3>Patient registration</h3>
<form action="/api/register-patient" method="POST">
    <input type="text" placeholder="clinician email" name="emailClinician"/>
    <input type="text" placeholder="patient email" name="emailPatient"/>
    <br>

    <input type="submit"/>
</form>
