<header>
    <br />
    <span class="top_left_img"><img src="../res/back-arrow.svg" /></span>
    <span class="top_right_img"><img src="../res/profile.svg" /></span>
    <span class="right_img"><img src="../res/badge.svg" /></span>
</header>
<br />
<br />
<br />
<br />
<main>
    <div class="center"><h1>Change Password</h1></div>
    <br />
    <br />
    <br />
    <form>
        <label for="newPassword"></label>New Password<br>
        <input type="text" id="newPassword" name="newPassword" placeholder="Enter password"><br>
        <label for="confirmPassword"></label>Confirm Password<br>
        <input type="text" id="confirmPassword" name="confirmPassword" placeholder="Re-enter password"><br>
        <button><input type="submit" value="SAVE"><br></button>
    </form>
    <br />
    <br />
    <br />
</main>