{{> sidenav login=true page='change_password'}}
<br />
<br />
<main>
    <div class="center"><h1>Change Password</h1></div>
    <form>
        <label for="newPassword"></label>New Password<br>
        <input type="text" id="newPassword" name="newPassword" placeholder="Enter password"><br>
        <label for="confirmPassword"></label>Confirm Password<br>
        <input type="text" id="confirmPassword" name="confirmPassword" placeholder="Re-enter password"><br>
        <button><input type="submit" value="SAVE"></button>
    </form>
</main>