<nav>
    <h1> John Doe's Clinical Notes </h1>
    <div class="nav_back" style="float: right">
        <button>Back to Patient</button>
    </div>
</nav>
<hr>

<main>
    <section>
        <div class="notes">
            <!-- pull notes propagate-->
        </div>
    </section>
</main>