{{#if darkMode}}
        <body class="dark"></body>
{{/if}}
    <header class="clinician_header">
        <h2 class="cilnician_nav">Patient Comments</h2>
        <a href="/" class="clinician_nav_btn"><h5 class="phone_clinician">Log Out</h5></a>
        <a href="/clinician/settings"><img class="icons icon_settings" src="/res/settings.svg"></a>
    </header>

    <a href="/clinician/dashboard" style="margin-top: 12vh; margin-left:10%; margin-bottom: 2vh;"><button class="lightmedium_button"><h5>Dashboard</h5></button></a>

    <article class="flex_right">
        {{#each patients}}
            {{> clinician_patient_comments_data patient=this value=this.patientHealthEntries.valueBloodGlucoseLevel comment=this.patientHealthEntries.commentBloodGlucoseLevel time=this.patientHealthEntries.timeBloodGlucoseLevel title="Blood Glucose Level" unit="nmol/L"}}
            {{> clinician_patient_comments_data patient=this value=this.patientHealthEntries.valueWeight comment=this.patientHealthEntries.commentWeight time=this.patientHealthEntries.timeWeight title="Weight" unit="kg"}}
            {{> clinician_patient_comments_data patient=this value=this.patientHealthEntries.valueExercise comment=this.patientHealthEntries.commentExercise time=this.patientHealthEntries.timeExercise title="Exercise Level" unit="steps"}}
            {{> clinician_patient_comments_data patient=this value=this.patientHealthEntries.valueDosesOfInsulinTaken comment=this.patientHealthEntries.commentDosesOfInsulinTaken time=this.patientHealthEntries.timeDosesOfInsulinTaken title="Doses of Insulin" unit="doses"}}
        {{/each}}
    </article>
