<body class="clinician_body">
    <header class="clinician_header">
        <h2 class="cilnician_nav">Patient Comments</h2>
        <a href="/" class="clinician_nav_btn"><h5 class="phone_clinician">Log Out</h5></a>
        <a href="/clinician/settings" class="icons icon_settings"><img src="/res/Icon_settings.svg"></a>
    </header>

    <a href="/clinician/dashboard" style="margin-top: 12vh; margin-left:10%; margin-bottom: 2vh;"><button class="lightmedium_button"><h5>Back to dashboard</h5></button></a>

    <article class="flex_right">
        {{#each patients}}
            {{> clinician_patient_comments_data patient=this value=this.bloodGlucose comment=this.bloodGlucoseComment time=this.bloodGlucoseRecordDateTime title="Blood Glucose Level" unit="nmol/L"}}
            {{> clinician_patient_comments_data patient=this value=this.weight comment=this.weightComment time=this.weightRecordDateTime title="Weight" unit="kg"}}
            {{> clinician_patient_comments_data patient=this value=this.exercise comment=this.exerciseComment time=this.exerciseRecordDateTime title="Exercise Level" unit="steps"}}
            {{> clinician_patient_comments_data patient=this value=this.dosesOfInsulin comment=this.dosesOfInsulinComment time=this.dosesOfInsulinRecordDateTime title="Doses of Insulin" unit="doses"}}
        {{/each}}
    </article>
</body>