<body class="clinician_body">
    <header class="clinician_header">
        <h2 class="cilnician_nav">{{patient.user.nameGiven}} {{patient.user.nameFamily}}'s Data History</h2>
        <a href="/clinician/patient/{{patient._id}}" class="clinician_nav_btn"><h5>Back to Patient</h5></a>
    </header>
    
    <hr>

    <main >
        <section class="history_background">

            <section class="graph_data" >
                <h2>Weight</h2>
                <div class="graph">
                    {{>clinician_charts}}
                </div>
            </section>

            <section class="graph_data" >
                <h2>Blood Glucose</h2>
                <div class="graph">
                </div>
            </section>
        
            <section class="graph_data" >
                <h2>Exercise</h2>
                <div class="graph">
                </div>
            </section>

            <section class="graph_data" >
                <h2>
                    Doses of Insulin Taken
                </h2>
                <div class="graph">
                </div>
            </section>

        </section>

    </main>

</body>