<body class="clinician_body">

    <header class="clinician_header">
        <h2 class="cilnician_nav">John Doe</h2>
        <a href="/clinician/dashboard" class="clinician_nav_btn"><h5>Dashboard</h5></a>
    </header>

    <a href="/clinician/patient/data-history"><p class="history_link"> Data History</p></a>

    <main class="note_main">
        <form>
            <section class="info_container">
                <h3>Weight</h3>
                <p>68kg</p>

               <label class="required">Required
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
                <div class="lower-threshold">
                    <label>Lower Threshold</label>
                    <input class="input" type="text">
                </div>

                <div class="upper-threshold">
                    <label>Upper Threshold</label>
                    <input class="input" type="text">
                </div>
            </section>

            <section class="info_container">
                <h3>Blood Glucose</h3>
                <p>7 nmol/L</p>

              <label class="required">Required
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
                
                <div class="lower-threshold">
                    <label>Lower Threshold</label>
                    <input class="input" type="text">
                </div>

                <div class="upper-threshold">
                    <label>Upper Threshold</label>
                    <input class="input" type="text">
                </div>
            </section>

            <section class="info_container">
                <h3>Exercise</h3>
                <p>3000 steps</p>
                <label class="required">Required
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
                <div class="lower-threshold">
                    <label>Lower Threshold</label>
                    <input class="input" type="text">
                </div>
                <div class="upper-threshold">
                    <label>Upper Threshold</label>
                    <input class="input" type="text">
                </div>
            </section>

            <section class="info_container">
                <h3>Doses of Insulin Taken</h3>
                <p>--</p>
                <label class="required">Required
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
                <div class="lower-threshold">
                    <label>Lower Threshold</label>
                    <input class="input" type="text">
                </div>

                <div class="upper-threshold">
                    <label>Upper Threshold</label>
                    <input class="input" type="text">
                </div>
            </section>

            <button class="lightmedium_button" type="submit">Save</button>
        </form>

        <section class="info_container">
            <h3>Support Messages</h3>
            <p>Current Message:</p>
            <p class="message">You are doing great :)</p>
            <form>
                <label>New Message:</label>
                <input class="input" type="text">
                <button type="submit"><h5>Update Message</h5></button>
            </form>
        </section>

        <section class="info_container">
            <h3>Notes</h3>
            <form>
                <textarea class="input" name="clinicianNote" placeholder="Add Note Here"></textarea>
                <button type="submit"><h5>SAVE</h5></button><br>
            </form>
            <a href="/clinician/patient/clinician-notes">See Past Notes</a>
        </section>
    </main>
    
</body>