<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/css/new_style.css" />
    <title>Clinician (Patient's) Data History</title>
</head>


<body class="clinician_body">
    <header class="clinician_header">
        <h2 class="cilnician_nav">John Doe's Data History</h2>
        <button class="clinician_nav_btn" type="button"><h5 class="phone_clinician">Back to Patient</h5></button>
    </header>
    
    <hr>

<main >
    <section class="history_background">

        <section class="graph_data" >
            <h2>Weight</h2>
            <div class="graph"></div>
        </section>

        <section class="graph_data" >
            <h2>Blood Glucose</h2>
            <div class="graph"></div>
        </section>
     
        <section class="graph_data" >
            <h2>Exercise</h2>
            <div class="graph"></div>
        </section>

        <section class="graph_data" >
            <h2>
                Doses of Insulin Taken
            </h2>
            <div class="graph"></div>
        </section>

    </section>

</main>

</body>