<body class="clinician_body">
    <header class="clinician_header">
        <h2 class="cilnician_nav"> Clinician Patient Notes</h2>
        <button class="clinician_nav_btn" type="button"><h5>Back to Patient</h5></button>
    </header>

    <main >
        <section class="big_background note">
            <article class="contianer_note">
                <p> This is a example of a note.</p>
                <p class="time">01/02/2022 13:43</p>
            </article>

            <article class="contianer_note">
                <p>This is a example of a note.</p>
                <p class="time">01/02/2022 13:43</p>
            </article>

            <article class="contianer_note">
                <p>This is a example of a note.</p>
                <p class="time">01/02/2022 13:43</p>
            </article>

            <article class="contianer_note">
                <p>This is a example of a note.</p>
                <p class="time">01/02/2022 13:43</p>
            </article>

            <article class="contianer_note">
                <p>This is a example of a note.</p>
                <p class="time">01/02/2022 13:43</p>
            </article>

            <article class="contianer_note">
                <p>This is a example of a note.</p>
                <p class="time">01/02/2022 13:43</p>
            </article>

            <article class="contianer_note">
                <p>This is a example of a note.</p>
                <p class="time">01/02/2022 13:43</p>
            </article>

            <article class="contianer_note">
                <p>This is a example of a note.</p>
                <p class="time">01/02/2022 13:43</p>
            </article>
            
            <article class="contianer_note">
                <p>This is a example of a note.</p>
                <p class="time">01/02/2022 13:43</p>
            </article>

        </section>
    </main>
</body>