<body class="clinician_body">

    <header class="clinician_header">
        <img class="icons_profile" src="/res/DocImag.svg" >
        <h2 class="cilnician_nav">Setting</h2>
        <a href="/clinician/dashboard" class="clinician_nav_btn2"><button type="button"><h5>Back to Dashboard</h5></button></a>
        <button class="clinician_nav_btn" type="button"><h5>Log Out</h5></button>
    </header>

<main class="clinician_main">
    <h3 >Dr Jones</h3>
    <section class="big_background">

    <section class="setting_contanier">
            <article class="personal_info">
                <h5>Full name:</h5>
                <p>Sally Megan Jones</p>
            </article>
 
            <article class="personal_info">
                <h5>Date of Birth:</h5>
                <p>01/01/1980</p>
            </article>

            <article class="personal_info">
                <label for="Email"></label><h5>Email:</h5> </label>
                <input type="text" placeholder="sally.jones@doctor.com" name="Email">
            </article>

            <article class="personal_info">
                <label for="Clinic"></label><h5>Clinic:</h5> </label>
                <input type="text" placeholder="Example Diabetes Clinic" name="Clinic">
            </article>
    </section>

    <section class="setting_contanier">

        <article class="personal_info">
            <label for="Password"></label><h5>New Password:</h5></label>
            <input type="text" placeholder="" name="Password">
         </article>

        <article class="personal_info">
            <label for="Confirm_Password"></label><h5>Confirm Password:</h5></label>
            <input type="text" placeholder="" name="Confirm_Password">
        </article>
        <article class="personal_info">
            <label for="Bio"></label><h5>Bio:</h5> </label>
            <input type="text" placeholder="I have been a doctor for 10 years! I love helping others." name="Bio">
        </article>

        <button type="submit"><h5>Update Details</h5></button>


    </section>

    </section>
</main>
</body>