<header>
    <h1>John Doe</h1>
    <button type="button">Back to Dashboard</button>
</header>
<div class="patient-panel">
    <div class="weight">
        <h1>Weight</h1>
        <p>68kg</p>
        <label class="required">Required
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
        </label>
        <form class="lower-threshold">
            <label>Lower Threshold</label>
            <input class="input" type="text">
        </form>
        <form class="upper-threshold">
            <label>Upper Threshold</label>
            <input class="input" type="text">
        </form>
    </div>

    <div class="blood-glucose">
        <h1>Blood Glucose</h1>
        <p>7 nmol/L</p>
        <label class="required">Required
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
        </label>
        <form class="lower-threshold">
            <label>Lower Threshold</label>
            <input class="input" type="text">
        </form>
        <form class="upper-threshold">
            <label>Upper Threshold</label>
            <input class="input" type="text">
        </form>
    </div>

    <div class="exercise">
        <h1>Exercise</h1>
        <p>3000 steps</p>
        <label class="required">Required
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
        </label>
        <form class="lower-threshold">
            <label>Lower Threshold</label>
            <input class="input" type="text">
        </form>
        <form class="upper-threshold">
            <label>Upper Threshold</label>
            <input class="input" type="text">
        </form>
    </div>

    <div class="insulin">
        <h1>Doses of Insulin Taken</h1>
        <p>--</p>
        <label class="required">Required
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
        </label>
        <form class="lower-threshold">
            <label>Lower Threshold</label>
            <input class="input" type="text">
        </form>
        <form class="upper-threshold">
            <label>Upper Threshold</label>
            <input class="input" type="text">
        </form>
    </div>

    <button type="button">Save</button>
</div>

<a href="/clinician_data_history">Data History</a>

<div class="support">
    <h1>Support Messages</h1>
    <p>Current Message:</p>
    <p class="message">You are doing great :)</p>
    <label>New Message:</label>
    <input class="message-input" type="text">
    <button type="button">Save</button>
</div>

<div class="notes">
    <h1>Notes</h1>
    <input class="notes-input" type="text">
    <a href="/clinician_patient_notes">See Past Notes</a>
</div>