
{{#if darkMode}}
        <body class="dark"></body>
{{/if}}
    <header class="clinician_header">
        <h2 class="cilnician_nav">Good afternoon, {{user.nameScreen}}</h2>
        <form method="POST" action="/logout">
            <button type="submit" class="clinician_nav_btn"><h5 class="phone_clinician">Log Out</h5></button>
        </form>
        <a href="/clinician/settings"><img class="icons icon_settings" src="/res/settings.svg"></a>
    </header>

    <div class="search_bar">
        <button class="lightmedium_button"><a href="/clinician/patient-comments"><h7>Patient Comments</h7></a></button>
        <button class="lightmedium_button"><a href="/clinician/register-patient"><h7>Register New Patient</h7></a></button>
    </div>

    <main class="dashboard_flex dashboard_padding">
        <article class="dash_left">
            <table class="dashboard_table">
                <tr class="title_box">
                    <th>Patient Name</th>
                    <th>Blood glucose (nmol/L)</th>
                    <th>Weight (kg)</th>
                    <th>Exercise (steps)</th>
                    <th>Doses of insulin taken</th>
                </tr>
                
                {{#each patients}}       
                    <tr class="dash_container" onclick="goToPatient('{{this._id}}')" style="cursor: pointer;">
                        <td>{{this.user.nameGiven}} {{this.user.nameFamily}}</td>
                        {{> clinician_dashboard_patient_data value=this.patientHealthEntries.valueBloodGlucoseLevel lowerThreshold=this.bloodGlucoseLowerThreshold upperThreshold=this.bloodGlucoseUpperThreshold requirement=this.requirementBloodGlucoseLevel}}
                        {{> clinician_dashboard_patient_data value=this.patientHealthEntries.valueWeight lowerThreshold=this.weightLowerThreshold upperThreshold=this.weighteUpperThreshold requirement=this.requirementWeight}}
                        {{> clinician_dashboard_patient_data value=this.patientHealthEntries.valueExercise lowerThreshold=this.exerciseLowerThreshold upperThreshold=this.exerciseUpperThreshold requirement=this.requirementExercise}}
                        {{> clinician_dashboard_patient_data value=this.patientHealthEntries.valueDosesOfInsulinTaken lowerThreshold=this.dosesOfInsulinLowerThreshold upperThreshold=this.dosesOfInsulinUpperThreshold requirement=this.requirementDosesOfInsulinTaken}}                        
                    </tr>
                {{/each}}
            </table> 
        </article>
    </main>
    


<script>
    function goToPatient(patient) {
        location.href = "/clinician/patient/" + patient 
    }
</script>
