    <body class="clinician_body">
        <header class="clinician_header">
            <h2 class="cilnician_nav">Patient Comments</h2>
            <button class="clinician_nav_btn" type="button"><h5 class="phone_clinician">Log Out</h5></button>
            <img class="icons icon_settings" src="../public/res/Icon_settings.svg">
        </header>

 <article class="flex_right">
    <section class="container container_comment">
        <p >John Doe</p> 
        <p >25/03/2022 10:00 am</p>
        <p >Blood Glucose Level: 7 nmol/L</p>
        <p >Looks good today :))</p>
    </section>

    <section class="container container_comment">
        <p>John Doe</p> 
        <p>25/03/2022 10:00 am</p>
        <p>Blood Glucose Level: 7 nmol/L</p>
        <p>Looks good today :))</p>
    </section>

    <section class="container container_comment">
        <p>John Doe</p> 
        <p>25/03/2022 10:00 am</p>
        <p>Blood Glucose Level: 7 nmol/L</p>
        <p>Looks good today :))</p>
    </section>

    <section class="container container_comment">
        <p>John Doe</p> 
        <p>25/03/2022 10:00 am</p>
        <p>Blood Glucose Level: 7 nmol/L</p>
        <p>Looks good today :))</p>
    </section>

    <section class="container container_comment">
        <p>John Doe</p> 
        <p>25/03/2022 10:00 am</p>
        <p>Blood Glucose Level: 7 nmol/L</p>
        <p>Looks good today :))</p>
    </section>

    <section class="container container_comment">
        <p>John Doe</p> 
        <p>25/03/2022 10:00 am</p>
        <p>Blood Glucose Level: 7 nmol/L</p>
        <p>Looks good today :))</p>
    </section>
</article>
</body>