<body style="background-color: #eff6f9">
    <main class="content login_grid_format">
        <div class="logo">
            <div class="logo_container">
                <img class="logo_image" src="/res/logo.svg" />
                <div class="logoText"><h1>Diabetes@Home</h1></div>
            </div>
        </div>

        <div class="column_container sec1">
            <h4>Manage your diabetes in the comfort of your own home!</h4>
            <a href="/login"><button class="dark_button">Log in</button></a>
            <p>- Or -</p>
            <a href="/about-diabetes"><button class="lightmedium_button">About Diabetes</button></a>
            <a href="/about-website"><button class="lightmedium_button">About this Website</button></a>
        </div>
    </main>
</body>