<div class="center">
    <img src="/res/logo.svg" width=50%>
    <h1>Diabetes@Home</h1>
</div>
<div class="center">
    <p>Manage your diabetes in the comfort of your own home!</p>
    <div>
        <a href="/login">
            <button>Log in</button>
        </a>
    </div>
    <p>- Or -</p>
    <div>
        <a href="/about_diabetes">
            <button>About Diabetes</button>
        </a>
    </div>
    <div>
        <a href="/about_website">
            <button>About this Website</button>
        </a>
    </div>
</div>