<body class="leaderboard_bg">
    <header>
        <br />
        <span class="top_left_img"><img src="../res/back-arrow.svg" /></span>
        <span class="top_right_img"><img src="../res/profile.svg" /></span>
        <span class="right_img"><img src="../res/badge.svg" /></span>
    </header>
    <br />
    <br />
    <br />
    <br />
    <main>
        <div class="center"><img src="../res/crown.svg" alt="crown" /></div>
        <br />
        <div class="center"><h1>Leaderboard</h1></div>
        <br />
        <div class="center"><img src="../res/podium.svg" alt="podium img" /></div>
        <br />
        <div class="banner">
            <h3>Fourth: USER 4</h3>
        </div>
        <div class="banner">
            <h3>Fifth: USER 5</h3>
        </div>
    </main>
    <br />
</body>