<header>
    <br />
    <img src="../res/hambuger-menu.png" />
</header>
<br />
<br />
<br />
<br />
<main>
    <div class="center"><p>Welcome Back!</p></div>
    <br />
    <div class="container">
        <img src="../res/logo.svg" style="width: 50%" />
        <div class="logoText"><h1>Diabetes@Home</h1></div>
    </div>
    <br />
    <div class="center"><h2>Login</h2></div>
    <br />

    <form>
        <label for="email">Email</label><br>
        <input type="text" id="email" name="email" placeholder="Email" class="text"><br>
        <br />
        <label for="password">Password</label><br>
        <input type="text" id="password" name="password" placeholder="Password" class="text"><br>
        <br />
        <span class="leftBox">Remember me</span>
        <span class="rightBox">Forgot Password?</span>
        <br />
        <br />
        <button><input type="submit" value="Log in"></button>
    </form>
</main>