{{> sidenav context}}
<br />
<br />
<br />
<br />
<main>
    <div class="center"><p>Welcome Back!</p></div>
    <br />
    <div class="container">
        <img src="../res/logo.svg" style="width: 50%" />
        <div class="logoText"><h1>Diabetes@Home</h1></div>
    </div>
    <br />
    <div class="center"><h2>Login</h2></div>
    <br />

    <form action="patient_main" method="post">
        <label for="email">Email</label><br>
        <input type="text" id="email" name="email" placeholder="Enter Email" class="text" required><br>
        <br />
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password" placeholder="Enter Password" class="text" required><br>
        <br />
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
        <span class="rightBox"><a href="#">Forgot Password?</a></span>
        <br />
        <br />
        <button type="submit">Login</button>
    </form>

</main>
