{{> sidenav context}}

<h2>Hello, JohnDoe</h2>
<p1>You are doing great :)</p1>

<!-- Drop_down_info -->
<ul>
    <li>All</li>
    <li>Weight</li>
    <li>Blood Gluc…</li>
    <li>Exercise</li>
    <li>Does Taken</li>
</ul>
<img src="res/Icon-down.svg" alt="" width="27" height="27">

 
<!-- 4 main data -->
<h3>Today</h3>
  
<div>
    <p1>Weight</p1>
    <p2>68 kg</p2>
</div>

<div>
    <p1>Blood Glucose Level</p1>
    <p2>7 nmol/L</p2>
</div>
    
<div>
    <p1>Exercise</p1>
    <p2>3000 steps</p2>
</div>

<div>
    <p1>Doses of Insulin Taken</p1>
    <p2>-</p2>
</div>

{{> bottomnav context}}
