{{> sidenav login=true page='patient_main'}}

<main class="content mainpage_grid_format">
    
    <div id="clinician_message">
        <h2 style="text-align:left">Hello, {{user.nameScreen}}</h2>
        <p style="text-align:left" class="bigger_p">{{user.supportMessage}}</p>
    </div>

    <!-- charts -->
    <div class="chart_container container sec1">
        <button class="white_button item_center"> 
            <p style="margin-right: 1vh">All</p>
            <img src="/res/Icon-down.svg">
        </button>
    </div>

    <!-- data entry -->
    <h2 style="text-align:left" class="subheading">Today</h2>

    <!--flexbox-->
    <div class="data_display">
        {{> patient_main_container field="weight" title="Weight" value=user.weight}}
        {{> patient_main_container field="bloodGlucose" title="Blood Glucose Level" value=user.bloodGlucose}}
        {{> patient_main_container field="exercise" title="Exercise" value=user.exercise}}
        {{> patient_main_container field="insulin" title="Doses of Insulin Taken" value=user.dosesOfInsulin}}       
    </div>
</main>

{{> bottomnav page='patient_main'}}
