<body class="clinician_body">

    <header class="clinician_header">
        <img class="icons_profile" src="/res/DocImag.svg" >
        <h2 class="cilnician_nav">Patient register</h2>
        <a href="/" class="clinician_nav_btn"><h5 class="phone_clinician">Log Out</h5></a>
    </header>

<main class="clinician_main">
    <h3 >Please fill in this form to create an account for your patient.</h3>
    <section class="big_background">
        <form action="/clinician/register-patient" method="POST">
            <section class="setting_contanier">

                <article class="personal_info">
                    <label for="Email"></label><h5>Email:</h5> </label>
                    <input type="text" placeholder="email" name="email">
                </article>

                <article class="personal_info">
                    <h5>Family name:</h5>
                    <input type="text" placeholder="family name" name="nameFamily">
                </article>

                <article class="personal_info">
                    <h5>Given name:</h5>
                    <input type="text" placeholder="given name" name="nameGiven">
                </article>

                <article class="personal_info">
                    <h5>Screen name:</h5>
                    <input type="text" placeholder="screen name" name="nameScreen">
                </article>

                <article class="personal_info">
                    <h5>Year born:</h5>
                    <input type="text" placeholder="year" name="yearBorn">
                </article>

            </section>
            <section class="setting_contanier">

                <article class="personal_info">
                    <label for="Password"></label><h5>Password:</h5></label>
                    <input type="text" placeholder="" name="password">
                </article>

                <article class="personal_info">
                    <label for="Confirm_Password"></label><h5>Confirm Password:</h5></label>
                    <input type="text" placeholder="" name="password2">
                </article>

                <button type="submit"><h5>Register</h5></button>

            </section>
        </form>
    </section>
</main>
</body>