{{> sidenav login=true page='patient_edit_data' patient=patient}}

<main class="content mainpage_grid_format edit_data">
    <h2 style="text-align: left" class="heading">Today</h2>
    {{#if darkMode}}
        <body class="dark"></body>
    {{/if}}
    
    <!-- 4 records -->
    <div class="boxes_container sec1">
        {{#if patient.requirementBloodGlucoseLevel}}
            {{> patient_edit_data_container title="Blood Glucose Level" field="bloodGlucose" unit="nmol/L" value=healthData.valueBloodGlucoseLevel comment=healthData.commentBloodGlucoseLevel time=healthData.timeBloodGlucoseLevel icon="/res/blood_glucose_icon.svg" action="/patient/edit-data/blood-glucose-level" max="150"}}
        {{/if}}
        {{#if patient.requirementWeight}}
            {{> patient_edit_data_container title="Weight" field="weight" unit="kilograms" value=healthData.valueWeight comment=healthData.commentWeight time=healthData.timeWeight icon="/res/weight_icon.svg" action="/patient/edit-data/weight" max="650"}}
        {{/if}}
    </div>


    <div class="boxes_container sec2">
        {{#if patient.requirementExercise}}
            {{> patient_edit_data_container title="Exercise" field="exercise" unit="steps" value=healthData.valueExercise comment=healthData.commentExercise time=healthData.timeExercise icon="/res/excercise_icon.svg" action="/patient/edit-data/exercise" max="1000000"}}    
        {{/if}}
        {{#if patient.requirementDosesOfInsulinTaken}}
            {{> patient_edit_data_container title="Doses of Insulin Taken" field="dosesOfInsulin" unit="doses" value=healthData.valueDosesOfInsulinTaken comment=healthData.commentDosesOfInsulinTaken time=healthData.timeDosesOfInsulinTaken icon="/res/insulin_icon.svg" action="/patient/edit-data/doses-of-insulin-taken" max="900"}}
        {{/if}}
    </div>
</main>

{{> bottomnav page='patient_edit_data'}}    