{{> sidenav login=true page='patient_main'}}

<main class="content mainpage_grid_format">

    <div id="clinician_message">
        <h2 style="text-align:left">Hello, {{user.nameScreen}}</h2>
        <p style="text-align:left" class="bigger_p">{{patient.supportMessage}}</p>
    </div>

    <!-- charts -->
    <div class="chart_container container sec1">
        <!--drop down button-->
        <button class="white_button item_center chart_button"> 
            <p style="margin-right: 1vh">All</p>
            <img src="/res/Icon-down.svg">
        </button> 
        <!--line charts-->
        <div id="curve_chart"></div>
    </div>

    <!-- data entry -->
    <h2 style="text-align:left" class="subheading">Today</h2>

    <!--flexbox-->
    <div class="data_display">
        {{#if patient.requirementWeight}}
            {{> patient_main_container field="weight" title="Weight" value=healthData.valueWeight}}
        {{/if}}
        {{#if patient.requirementBloodGlucoseLevel}}
            {{> patient_main_container field="bloodGlucose" title="Blood Glucose Level" value=healthData.valueBloodGlucoseLevel}}
        {{/if}}
        {{#if patient.requirementExercise}}
            {{> patient_main_container field="exercise" title="Exercise" value=healthData.valueExercise}}
        {{/if}}
        {{#if patient.requirementDosesOfInsulinTaken}}
            {{> patient_main_container field="insulin" title="Doses of Insulin Taken" value=healthData.valueDosesOfInsulinTaken}}   
        {{/if}}  
    </div>
</main>

{{> bottomnav page='patient_main'}}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'line']});

    //draw chart
    google.charts.setOnLoadCallback(drawbloogGlucoseLevel);
    function drawbloogGlucoseLevel() {
    var data = google.visualization.arrayToDataTable([
          ['Days', 'Blood Glucose Level'],
          ['Monday',  125],
          ['Tuesday',  135],
          ['Wednesday',  118],
          ['Thursday',  120],
          ['Friday',  118],
          ['Saturday',  120],
          ['Sunday',  115]
        ]);

      var options = {
        curveType: 'function',
        hAxis: {
          title: 'Days',
          slantedText: true
        },
        vAxis: {
          title: 'nmol/L',
          minValue: 100
        },
        backgroundColor: 'transparent',
        legend: { position: 'bottom' }
      };

      var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
      chart.draw(data, options);
    }

    window.onresize = drawbloogGlucoseLevel;
    </script>