{{> sidenav context}}

<!-- Popups for comments -->
{{> commentPopup dataField='bloodGlucose' title ='Blood Glucose Level' commentId='bloodGlucoseComment'}}
{{> commentPopup dataField='weight' title = 'Weight' commentId='weightComment'}}
{{> commentPopup dataField='exercise' title = 'Exercise' commentId='exerciseComment'}}
{{> commentPopup dataField='insulin' title = 'Doses of Insulin Taken' commentId='insulinComment'}}

<main class="content mainpage_grid_format">
    <h2 style="text-align: left" class="heading">Today</h2>

    <!-- 4 records -->
    <div class="boxes_container sec1">

        <contianer class="container info_rectangle_container">
            <div class="data_container">
                <img class="body_icons" src="/res/Icon_blood.svg" alt="blood icon image">
                <p class="bigger_p">Blood Glucose Level</p>
                <img class="body_icons comment" src="res/Icon_comment.svg" onclick="openPopup('bloodGlucose')" style="cursor: pointer;">
            </div>
            <form id="bloodGlucoseForm"> <!-- action="" method="post" ~ put this inside form tag and give appropriate action -->
                <div class="data_container input_data">
                    <input type="text" name="bloodGlucoseValue">
                    <p>nmol/L</p> 
                </div>
            </form>

            <!--desktop comment section--> 
            <form id="bloodGlucoseCommentForm"> <!-- action="" method="post" ~ put this inside form tag and give appropriate action -->
                <div class="desktop_comment">
                    {{> comment commentId="bloodGlucoseComment"}}
                </div>   
                <br>      
            </form>      

            <!--save button--> 
            <button class="center white_button" onclick="submitPatientData('bloodGlucoseForm', 'bloodGlucoseCommentForm')">SAVE</button>
            
        </contianer>

        <contianer class="container info_rectangle_container">
            <div class="data_container">
                <img class="body_icons" src="/res/Icon-weight.svg" alt="weight icon image">
                <p class="bigger_p">Weight</p>
                <img class="body_icons comment" src="res/Icon_comment.svg" onclick="openPopup('weight')" style="cursor: pointer;">
            </div>
            <form id="weightForm"> <!-- action="" method="post" ~ put this inside form tag and give appropriate action -->
                <div class="data_container input_data">
                    <input type="text" name="weightValue">
                    <p>kgrams</p>   
                </div>
            </form>

            <!--desktop comment section-->
            <form id="weightCommentForm"> <!-- action="" method="post" ~ put this inside form tag and give appropriate action -->
                <div class="desktop_comment">
                    {{> comment commentId="weightComment"}}
                </div> 
                <br>      
            </form>  

            <!--save button-->
            <button class="center white_button" onclick="submitPatientData('weightForm', 'weightCommentForm')">SAVE</button>

        </contianer>
        
        

    </div>


    <div class="boxes_container sec2">

        <contianer class="container info_rectangle_container">
            <div class="data_container">
                <img class="body_icons" src="/res/Icon_excercise.svg" alt="exercise icon image">
                <p class="bigger_p">Exercise</p>
                <img class="body_icons comment" src="res/Icon_comment.svg" onclick="openPopup('exercise')" style="cursor: pointer;">
            </div>
            <form id="exerciseForm"> <!-- action="" method="post" ~ put this inside form tag and give appropriate action -->
                <div class="data_container input_data">
                    <input type="text" name="exerciseValue">
                    <p>steps</p> 
                </div>
            </form>
            

            <!--desktop comment section-->            
            <form id="exerciseCommentForm"> <!-- action="" method="post" ~ put this inside form tag and give appropriate action -->
                <div class="desktop_comment">
                    {{> comment commentId="exerciseComment"}}
                </div> 
                <br>      
            </form>  

            <!--save button--> 
            <button class="center white_button" onclick="submitPatientData('exerciseForm', 'exerciseCommentForm')">SAVE</button>


        </contianer>

        <contianer class="container info_rectangle_container">
            <div class="data_container">
                <img class="body_icons" src="/res/Icon_doses.svg" alt="doses icon image">
                <p class="bigger_p">Doses of Insulin Taken</p> 
                <img class="body_icons comment" src="res/Icon_comment.svg" onclick="openPopup('insulin')" style="cursor: pointer;">           
            </div> 
            <form id="insulinForm"> <!-- action="" method="post" ~ put this inside form tag and give appropriate action -->
                <div class="data_container input_data">
                    <input type="text" name="insulinValue"> 
                    <p>doses</p> 
                </div>
            </form>

            <!--desktop comment section-->
            <form id="insulinCommentForm"> <!-- action="" method="post" ~ put this inside form tag and give appropriate action -->
                <div class="desktop_comment">
                    {{> comment commentId="insulinComment"}}
                </div>  
                <br>      
            </form>  

            <!--save button--> 
            <button class="center white_button" onclick="submitPatientData('insulinForm', 'insulinCommentForm')">SAVE</button>

        </contianer>

    </div>

</main>

{{> bottomnav context}}


<script>
    function submitPatientData(data, comment) {
        document.getElementById(data).submit();
        document.getElementById(comment).submit();
    }
</script>
