<body class="leaderboard_bg">
    {{> sidenav login=true page='patient_leaderboard'}}
    <br />
    <br />
    <br />
    <br />
    <main>
        <title>Leaderboard</title>
        
        <div class="center">
            <img src="../public/res/crown.svg" alt="crown" />
        </div>
    
        <div class="center"><h1>Leaderboard</h1></div>

        <div class="center">
            <img src="../public/res/podium.svg" alt="podium img" />
        </div>

        <div class="banner">
            <h3>Fourth: USER 4</h3>
        </div>

        <div class="banner">
            <h3>Fifth: USER 5</h3>
        </div>
    </main>
    <br />
    {{> bottomnav login=true page='patient_leaderboard'}}
</body>