<body class="clinician_body">

    <header class="clinician_header">
        <img class="icons_profile" src="/res/DocImag.svg" >
        <h2 class="cilnician_nav">Patient register</h2>
        <a href="/" class="clinician_nav_btn"><h5 class="phone_clinician">Log Out</h5></a>
    </header>

<main class="clinician_main">
    <h3 >Please fill in this form to create an account.</h3>
    <section class="big_background">

    <section class="setting_contanier">
            <article class="personal_info">
                <h5>User name:</h5>
                <input type="text" placeholder="Sally Megan Jones" name="name">
            </article>
 
            <article class="personal_info">
                <h5>Date of Birth:</h5>
                <input type="text" placeholder="DD/MM/YY" name="Birth">
            </article>

            <article class="personal_info">
                <label for="Email"></label><h5>Email:</h5> </label>
                <input type="text" placeholder="sally.jones@doctor.com" name="Email">
            </article>

            <article class="personal_info">
                <label for="Clinic"></label><h5>Clinic:</h5> </label>
                <input type="text" placeholder="Example Diabetes Clinic" name="Clinic">
            </article>
    </section>

    <section class="setting_contanier">
        <article class="personal_info">
            <label for="Password"></label><h5>Password:</h5></label>
            <input type="text" placeholder="" name="Password">
         </article>

        <article class="personal_info">
            <label for="Confirm_Password"></label><h5>Confirm Password:</h5></label>
            <input type="text" placeholder="" name="Confirm_Password">
        </article>

        <article class="personal_info">
            <label for="Bio"></label><h5>Bio:</h5> </label>
            <input type="text" placeholder="Introduce about yourself!" name="Bio">
        </article>

        <button type="submit"><h5>Register</h5></button>

    </section>

    </section>
</main>
</body>