/* Set up type and colour */
:root {
    --text-big: 26px;
    --text-small: 20px;
    --font-family-body: 'PT Serif', serif;
    --font-family-heading: 'Poppins', sans-serif;
    --color-background-white: #ffffff;
    --color-background-light: #eff6f9;
    --color-background-lightmedium: #9fc0d6;
    --color-background-medium: #466fa6;
    --color-background-dark: #193773;
    --color-background-lightaccent: #f2c1ae;
    --color-background-accent: #f28379;
    --color-text-black: #000000;
    --color-text-white: #ffffff;
}


.header {
    padding: 0.5%;
    text-align: left;
    background: var(--color-background-dark);
    color: var(--color-background-white);
    font-size: var(--text-small);
}


.header button{
    float: right;
    padding: 5px 10px;
    border: 2px solid var(--color-background-white);
    margin-right: 20px;
    transform: translateX(300%);
    transform: translateY(-200%);
}
.header button:hover{
    display: inline-block;
    background: var(--color-background-dark);
    color: var(--color-background-white);
}

body { 
    color: var(--color-text-black);  
    background-color: var(--color-background-white);
}

table {
    border-collapse: collapse;
    background-color: var(--color-background-lightmedium);
    width: 100%;
    border:1px solid var(--color-text-black);
    table-layout: fixed;
    border-spacing: 50px 0;
}
  
th {
    padding: 8px;
    width: 100%;
    border:1px solid var(--color-text-black);
    text-align: left;
    font-size: var(--text-big);
    border-bottom: 1px solid var(--color-text-black);
    
}

td {
    border:1px solid var(--color-text-black);
    padding: 8px;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid var(--color-text-black);
}

.search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border:1px solid var(--color-text-black);
    
}
.search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: var(--color-background-white);
    font-size: 17px;
    border: var(--color-text-black);
    cursor: pointer;
}


.required {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
/* Hide the browser's default checkbox */
.required input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom checkbox */
.required {
    position: absolute;
    top: 33%;
    left: 20%;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
  
/* On mouse-over, add a grey background color */
.required:hover input ~ .checkmark {
    background-color: #ccc;
}
  
/* When the checkbox is checked, add a blue background */
.required input:checked ~ .checkmark {
    background-color: #2196F3;
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.required:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the checkmark when checked */
.required input:checked ~ .checkmark:after {
    display: block;
}
  
/* Style the checkmark/indicator */
.required .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
  
  
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  