/* Set up type and colour */
:root {
    --text-big: 26px;
    --text-small: 20px;
    --font-family-body: 'PT Serif', serif;
    --font-family-heading: 'Poppins', sans-serif;
    --color-background-white: #ffffff;
    --color-background-light: #eff6f9;
    --color-background-lightmedium: #9fc0d6;
    --color-background-medium: #466fa6;
    --color-background-dark: #193773;
    --color-background-lightaccent: #f2c1ae;
    --color-background-accent: #f28379;
    --color-text-black: #000000;
    --color-text-white: #ffffff;
}

* {
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: none;
}

html {
    width: 375px;
    height: 812px;
}

header {
    background-color: var(--color-background-white);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
}

body {
    display: flexbox;
    flex-direction: column;
    font-family: var(--font-family-body);
    font-size: var(--text-small);  
    color: var(--color-text-black);  
    background-image: linear-gradient(var(--color-background-light), var(--color-background-lightmedium), var(--color-background-medium), var(--color-background-dark));
    background-attachment: fixed;
}

main {
    padding: 5%;
}

h2 {
    font-size: var(--text-big);
    font-family: var(--font-family-heading);
}

.text {
    margin: auto;
    text-align: center;
    background-color: var(--color-background-light);
    width: 80%;
    border-radius: 5%;
    padding: 5%;
}

#video {
    display: flex; 
    text-align: center;
    justify-content: center;
    align-items: center;
}

#info, a:link {
    color: var(--color-text-white);
}